.scroller {
  width: 100%;;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #88dd88;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88dd88;
}
