@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .myCustomModalClass .modal-dialog {
    max-width: 400px;
    max-height: 200px;
  }
  .offcanvas{
    width:50% !important;
}  
 */
